#bestScore {
    color: #FCA311;
}

#currentScore {
    color: white;
}

progress{
    width: 75%;
    background-color: white;
    accent-color: orange;
}

#gameBoard{
    height: 50vh;
    width: 85%;
    box-shadow: 0 0 10px 5px #FCA311;
    margin: auto;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 5vh;
}

h2 {
    width: 100%;
    text-align: center;
    color: #FCA311;
    padding-top: 5vh;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}

.dogBox{
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    height: 100%;
    box-shadow: 0 0 2px 2px #FCA311;
}

.dogBox img:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px white;
}

.dogBox:hover p{
    color: white;
}


#gameBoard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 50px;
    text-align: center;
}

p {
    color: #FCA311;
    text-decoration: underline;
}